@{
    ViewBag.Title = "Reserva de Automóviles";
}

<main>
    <section class="row" aria-labelledby="carReservationTitle">
        <h1 id="title">Reserva de Automóviles</h1>
        <p class="lead">Explora nuestra selección de vehículos y realiza tu reserva de manera rápida y segura para tus próximas aventuras.</p>
        <p><a href="/reservar" class="btn btn-primary btn-md">Reservar ahora &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="easyReservationTitle">
            <h2 id="easyReservationTitle">Reserva Fácil</h2>
            <p>
                Realiza tu reserva en solo unos pasos. Selecciona el tipo de vehículo que necesitas, elige tus fechas y asegura tu transporte.
            </p>
            <p><a class="btn btn-outline-dark" href="/como-reservar">Ver detalles &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="carFleetTitle">
            <h2 id="carFleetTitle">Nuestra Flota</h2>
            <p>Contamos con una amplia gama de vehículos para satisfacer tus necesidades, desde autos compactos hasta SUVs y camionetas.</p>
            <p><a class="btn btn-outline-dark" href="/flota">Explorar vehículos &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="specialOffersTitle">
            <h2 id="specialOffersTitle">Ofertas Especiales</h2>
            <p>Descubre nuestras promociones exclusivas y reserva un auto a un precio especial para tu próximo viaje.</p>
            <p><a class="btn btn-outline-dark" href="/ofertas">Ver ofertas &raquo;</a></p>
        </section>
    </div>
</main>